<ul class="face-list">
  <li class="face"><a href=""><img src="images/face4.jpg" alt=""></a><a href="">@Peter</a></li>
  <li class="face"><a href=""><img src="images/face5.jpg" alt=""></a><a href="">@Peter</a></li>
  <li class="face"><a href=""><img src="images/face6.jpg" alt=""></a><a href="">@Peter</a></li>
</ul>