<ul class="face-list">
  <li class="face"><a href=""><img src="images/face1.jpg" alt=""></a><a href="">@Peter</a></li>
  <li class="face"><a href=""><img src="images/face2.jpg" alt=""></a><a href="">@Peter</a></li>
  <li class="face"><a href=""><img src="images/face3.jpg" alt=""></a><a href="">@Peter</a></li>
</ul>